<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Members Only</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <h1>Welcome to the Dashboard</h1>
    <h2>Create your Message</h2>
    <form action="message/new" method="post">
        <div>
            <label for="title">Enter your Title:</label>
            <input type="text" name="title" id="title">
        </div>
        <div>
            <label for="textMsg">Enter your Message:</label>
            <input type="text" name="textMsg" id="textMsg">
        </div>
        <button type="submit">Confirm</button>
    <script src="../public/main.js"></script>
</body>
</html>