<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Members Only</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <h1>Welcome to the Odin Social Media App</h1>
    <button><a href="/signup">Click here to sign up</a></button>
    <button><a href="/login">Click here to log in</a></button>
    <script src="../public/main.js"></script>
</body>
</html>