<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Members Only</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <h1>Please Log In</h1>
    <form action="/login" method="post">
        <div>
            <label for="email">Enter your email:</label>
            <input type="text" name="email" id="email">
        </div>
        <div>
            <label for="password">Enter your password:</label>
            <input type="password" name="password" id="password">
        </div>
        <button type="submit">Confirm</button>
    </form>
    <script src="../public/main.js"></script>
</body>
</html>